@page "/listarTramites"
@rendermode InteractiveServer
@inject CasoDeUsoListarTramites listarTramites


<h3>Listado de Tramites</h3>

<table class="table">
   <thead>
       <tr>
           <th>Id</th>
           <th>IdExp Asociado</th>
           <th>Tipo de tramite</th>
           <th>Contenido</th>
           <th>FyH creacion</th>
           <th>FyH modificacion</th>
           <!-- <th>Id del usuario</th> -->
       </tr>
   </thead>
    <tbody>
       @foreach (var t in lista)
       {
            <tr>
               <td>@t.Id</td>
               <td>@t.IdExpediente</td>
               <td>@t.TipoTramite</td>
               <td>@t.Contenido</td>
               <td>@t.FechaHoraCreacion</td>
               <td>@t.FechaHoraModificacion</td>
               <!-- <td> t.IdUsuarioUM</td> -->
           </tr>
       }
   </tbody>
</table>

@code {
    List<Tramite> lista = new List<Tramite>();

    protected override void OnInitialized()
    {
        if (listarTramites != null)
        {
            lista = listarTramites.Ejecutar();
        }
    }
}
