@page "/listarTramites"
@rendermode InteractiveServer
@inject CasoDeUsoListarTramites listarTramites
@inject CasoDeUsoTramiteBaja borrar


<h3>Listado de Tramites</h3>

<table class="table">
   <thead>
       <tr>
           <th>Id</th>
           <th>IdExp Asociado</th>
           <th>Tipo de tramite</th>
           <th>Contenido</th>
           <th>FyH creacion</th>
           <th>FyH modificacion</th>
           <th>Id del usuario</th>
           <th>Editar</th>
           <th>Eliminar</th>
       </tr>
   </thead>
    <tbody>
       @foreach (var ex in lista)
       {
            <tr>
               <td>@ex.Id</td>
               <td>@ex.IdExpediente</td>
               <td>@ex.TipoTramite</td>
               <td>@ex.Contenido</td>
               <td>@ex.FechaHoraCreacion</td>
               <td>@ex.FechaHoraModificacion</td>
               <td>@ex.IdUsuarioUM</td>
               <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" @onclick="()=>Eliminar(ex)">Eliminar</button></td> 
           </tr>
       }
   </tbody>
</table>

@code {
    List<Tramite> lista = new List<Tramite>();


    protected override void OnInitialized()
    {
        if (listarTramites != null)
        {
            lista = listarTramites.Ejecutar();
        }
    }

    private void Eliminar(Tramite tra)
    {
        borrar.Ejecutar(tra.Id, 1);
        lista = listarTramites.Ejecutar();
    }
}
