@page "/listarExpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes listarExpediente
@inject IJSRuntime JsRuntime;
@inject CasoDeUsoExpedienteBaja expedienteBaja
@inject NavigationManager Navegador
@inject Logger log
@inject IServicioAutorizacion ServicioAutorizacion

@if(log.Logueado)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Caratula</th>
                <th>FyH creacion</th>
                <th>FyH modificacion</th>
                <th>Id de usuario</th>
                <td>Estado del Expediente</td>
                <th>Accion</th>
            </tr>
        </thead>
            <tbody>
            @foreach (var e in lista)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Caratula</td>
                    <td>@e.FechaHoraCreacion</td>
                    <td>@e.FechaHoraModificacion</td>
                    <td>@e.IdUsuarioUM</td>
                    <td>@e.ExpedienteEstado</td>
                        <td>
                            <button class="btn btn-primary" @onclick="()=>ModificarExpediente(e)">
                                Editar
                            </button>
                            <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(e)">
                                Eliminar
                            </button>
                        </td>
                                
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-danger" @onclick="()=>AgregarExpediente()">
        Nuevo
    </button>

    <h2 class="text-danger text-center">@mensaje</h2>
}
else
{
   <MensajeNoLogueado/>
}

@code {
    List<Expediente> lista = new List<Expediente>();
    string mensaje = "";
    protected override void OnInitialized()
    {
            lista = listarExpediente.Ejecutar();
    }
    
    private void ConfirmarEliminacion(Expediente e)
    {
        if( ServicioAutorizacion.PoseeElPermiso(log.IdUsuario, Permiso.ExpedienteBaja) ){
            expedienteBaja.Ejecutar(e.Id, log.IdUsuario);
            lista = listarExpediente.Ejecutar();
        }
        else 
        {
            mensaje = "No posee el permiso para dar de baja un Expediente";
            Console.WriteLine("No posse el permiso para dar de baja un Expediente");
        }
    }

    void ModificarExpediente(Expediente e)
    {
        if( ServicioAutorizacion.PoseeElPermiso(log.IdUsuario, Permiso.ExpedienteModificacion) ){
            mensaje = "";
            Navegador.NavigateTo($"expediente/{e.Id}");
        }
        else 
        {
            mensaje = "No posee el permiso para modificar un Expediente";
            Console.WriteLine("No posse el permiso para modificar un Expediente");
        }
    }

    void AgregarExpediente()
    {
        if( ServicioAutorizacion.PoseeElPermiso(log.IdUsuario, Permiso.ExpedienteAlta) ){
            mensaje = "";
            Navegador.NavigateTo("expediente");
        }
        else 
        {
             mensaje = "No posee el permiso para agregar un Expediente";
            Console.WriteLine("No posse el permiso para agregar un Expediente");
        }
    }
}
